name: Create Infrastructure and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  create-infra-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Create src.zip archive
        run: zip -FSr src.zip frontend/ backend/

      - name: Change directory to terraform
        run: cd terraform

      - name: Run tree and pwd
        run: tree; pwd

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Version
        run: terraform --version
