name: Create Infrastructure and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  create-infra-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run npm install
        run: npm install
        working-directory: backend/

      - name: Download existing src.zip (continue on failure)
        uses: actions/download-artifact@v4
        with:
          name: src.zip
        continue-on-error: true

      - name: Update/Create src.zip archive
        run: zip -FSr src.zip frontend/ backend/

      - name: Upload src.zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: src.zip
          path: src.zip

      - name: Run npm install
        run: npm install
        working-directory: cloud-function/

      - name: Update/Create cloud_function.zip archive
        run: zip -FSr cloud_function.zip cloud-function/index.js cloud-function/package.json

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Set Timestamp
        run: echo "TF_TIMESTAMP=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Terraform Init
        run: terraform init
        working-directory: terraform/
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }} 

      - name: Terraform Plan
        run: terraform plan -input=false -var="version_id=${TF_TIMESTAMP}" -var="google_credentials=${GOOGLE_CREDENTIALS}"
        working-directory: terraform/
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }} 

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false -var="version_id=${TF_TIMESTAMP}" -var="google_credentials=${GOOGLE_CREDENTIALS}" -parallelism=1
        working-directory: terraform/
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }} 
